<h2 class='center'>Вход</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label 'Пароль' %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label 'запомнить' %>
    </div>
  <% end -%>

  <%= recaptcha_tags %>
  <br/>
  <div class="actions center">
    <%= f.submit "Войти", class: 'button' %>
  </div>
<% end %>

<div class="left">
  <%= render "devise/shared/links" %>
</div>
