<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Сотер</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href=<%= pages_path %> >Сотер</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to "Выйти", "/users/sign_out", method: :delete %></li>
          <% else %>
            <li><%= link_to "Войти", "/users/sign_in", method: :post %></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="active"><a href=<%= pages_path %>>Главная</a></li>
          <li><%= link_to "Наша продукция", products_path, remote: true %></li>
          <li><a href=<%= contacts_pages_path %>>Контакты</a></li>
        </ul>
      </section>
    </nav>

    <!-- Body -->
    <div class="row">
      <div class="small-2 large-3 columns"></div>
      <div class="small-4 small-centered large-6 columns">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="soter-body"><%= yield %></div>
      </div>
      <div class="small-6 large-3 columns"></div>
    </div>

  </body>
</html>

<!--
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
-->
